<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.2/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Tic-tac-toe">
            <directory>src/AppBundle/Tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <ini name="date.timezone" value="UTC"/>
    </php>
</phpunit>
