{% extends 'base.html.twig' %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('winner') %}
        <div>
            {{ flashMessage }}
        </div>
    {% endfor %}
    {{ form_start(form) }}
    {% include 'default/grid.html.twig' %}
    {{ form_rest(form) }}
    <input type="submit" value="Submit">
    {{ form_end(form) }}
{% endblock %}
